html {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #10101E;
}

.realtimeClock{
    font-size: 2.5rem; 
    color: white;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.time{
    font-size: 6rem;
    font-weight: 600;
    text-align: center;
}

#period{
    font-size: 3rem;
}

.time span{
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right bottom, #6a5af9, #f62682);
    padding: 0.5rem;
    margin: 0 0.5rem;
}

.time-component {
    display: inline-block;
    text-align: center;
}

.time-component p {
    font-size: 2rem;
    margin: 10;
}

.colon {
    display: inline-block;
    vertical-align: middle;
    font-size: 6rem;
    margin: 0 0.5rem;
    transform: translateY(-87%);
}